In [1]:
from absenteeism_model import *

In [2]:
model= AbsenteeismModel('log_model.pkl')

In [27]:
# Clean the data (without scaling)
cleaned_data = model.preprocess_data('Absenteeism_new_data.csv')
# Now final_data has the columns: 'Prediction' and 'Probability'
new_obs = model.add_predictions(cleaned_data)
new_obs.head(5)

,Reason_1,Reason_2,Reason_3,Reason_4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month,Day of the week,Prediction,Probability
0,0,0.0,0,1,179,26,30,237.656,19,1,0,0,6,4,0,0.100677
1,1,0.0,0,0,361,52,28,237.656,27,0,1,4,6,0,1,0.938549
2,0,0.0,0,1,155,12,34,237.656,25,0,2,0,6,2,0,0.343572
3,0,0.0,0,1,179,22,40,237.656,22,1,2,0,6,4,0,0.219475
4,1,0.0,0,0,155,12,34,237.656,25,0,2,0,6,4,1,0.793434

In [7]:
import pyodbc
print(pyodbc.drivers())

['SQL Server', 'Microsoft Access Driver (*.mdb, *.accdb)', 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)', 'Microsoft Access Text Driver (*.txt, *.csv)', 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)', 'ODBC Driver 17 for SQL Server']

In [69]:
import pyodbc

# Define connection parameters
server = r'TARIQ-PC\SQLEXPRESS04'  
database = 'Predicted_outputs'    

# Connection string using Windows Authentication
conn_str = f'DRIVER={{ODBC Driver 17 for SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()

In [59]:
'''cursor.execute("SELECT * FROM AbsenteeismData;")
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row)
# No data'''

In [70]:
# Creating the insert statement 
insert_query = 'INSERT INTO dbo.AbsenteeismData Values '

In [71]:
insert_query

'INSERT INTO dbo.AbsenteeismData Values '

In [72]:
for i in range(new_obs.shape[0]):
    insert_query += '('
    
    for j in range(new_obs.shape[1]):
        insert_query += str(new_obs[new_obs.columns.values[j]][i]) + ', '
    
    insert_query = insert_query.rstrip(', ')  # Remove the last comma and space
    insert_query += '), '  # Add the closing parenthesis and comma after each row

# Remove the trailing comma and space at the end of the query
insert_query = insert_query.rstrip(', ') + ';'

print(insert_query)

INSERT INTO dbo.AbsenteeismData Values (0, 0.0, 0, 1, 179, 26, 30, 237.656, 19, 1, 0, 0, 6, 4, 0, 0.10067716376776627), (1, 0.0, 0, 0, 361, 52, 28, 237.656, 27, 0, 1, 4, 6, 0, 1, 0.9385485910582264), (0, 0.0, 0, 1, 155, 12, 34, 237.656, 25, 0, 2, 0, 6, 2, 0, 0.34357218070345624), (0, 0.0, 0, 1, 179, 22, 40, 237.656, 22, 1, 2, 0, 6, 4, 0, 0.21947509191646963), (1, 0.0, 0, 0, 155, 12, 34, 237.656, 25, 0, 2, 0, 6, 4, 1, 0.7934337630231165), (1, 0.0, 0, 0, 225, 26, 28, 237.656, 24, 0, 1, 2, 6, 0, 1, 0.823725507167305), (1, 0.0, 0, 0, 118, 15, 46, 275.089, 25, 0, 2, 0, 6, 2, 1, 0.6825027546094742), (0, 0.0, 0, 1, 179, 26, 30, 275.089, 19, 1, 0, 0, 6, 2, 0, 0.10956237723554366), (0, 0.0, 0, 1, 118, 10, 37, 275.089, 28, 0, 0, 0, 6, 4, 0, 0.1255855224924092), (1, 0.0, 0, 0, 118, 10, 37, 275.089, 28, 0, 0, 0, 6, 2, 1, 0.5664767926691083), (0, 0.0, 0, 1, 378, 49, 36, 275.089, 21, 0, 2, 4, 6, 3, 1, 0.6163272097472471), (0, 0.0, 1, 0, 118, 13, 50, 275.089, 31, 0, 1, 0, 6, 3, 1, 0.7662378476793834), (0, 0.0, 1, 0, 233, 51, 31, 275.089, 21, 1, 1, 8, 6, 4, 1, 0.6311805899617088), (0, 0.0, 0, 1, 179, 26, 30, 275.089, 19, 1, 0, 0, 6, 4, 0, 0.09951134303780154), (0, 0.0, 0, 0, 235, 29, 48, 275.089, 33, 0, 1, 5, 6, 0, 0, 0.024447369009050177), (0, 0.0, 0, 0, 268, 11, 33, 275.089, 25, 1, 0, 0, 6, 3, 0, 0.021128413539946416), (0, 0.0, 1, 0, 118, 13, 50, 275.089, 31, 0, 1, 0, 6, 3, 1, 0.7662378476793834), (1, 0.0, 0, 0, 179, 26, 30, 275.089, 19, 1, 0, 0, 6, 3, 0, 0.4879195782689421), (0, 0.0, 0, 1, 291, 31, 40, 275.089, 25, 0, 1, 1, 6, 3, 0, 0.4442350197382447), (1, 0.0, 0, 0, 179, 26, 30, 275.089, 19, 1, 0, 0, 7, 0, 1, 0.6207974487186491), (0, 0.0, 0, 1, 118, 10, 37, 275.089, 28, 0, 0, 0, 7, 0, 0, 0.20659415667858533), (0, 0.0, 0, 1, 233, 51, 31, 275.089, 21, 1, 1, 8, 7, 3, 0, 0.14695676925679693), (1, 0.0, 0, 0, 118, 10, 37, 275.089, 28, 0, 0, 0, 7, 4, 1, 0.6318447378490765), (1, 0.0, 0, 0, 118, 10, 37, 275.089, 28, 0, 0, 0, 7, 2, 1, 0.6564662353235496), (0, 0.0, 0, 1, 233, 51, 31, 275.089, 21, 1, 1, 8, 7, 2, 0, 0.1538200917408298), (0, 0.0, 0, 1, 235, 20, 43, 264.604, 38, 0, 1, 0, 7, 2, 1, 0.6620326463113635), (0, 0.0, 1, 0, 233, 51, 31, 264.604, 21, 1, 1, 8, 7, 4, 1, 0.7152468922740102), (1, 0.0, 0, 0, 228, 14, 58, 264.604, 22, 0, 2, 1, 7, 0, 1, 0.8414915376809174), (0, 0.0, 0, 1, 118, 10, 37, 264.604, 28, 0, 0, 0, 7, 0, 0, 0.20718902244792106), (1, 0.0, 0, 0, 228, 14, 58, 264.604, 22, 0, 2, 1, 7, 1, 1, 0.8341935790693638), (0, 0.0, 0, 1, 189, 29, 33, 264.604, 25, 0, 2, 2, 7, 1, 0, 0.4555971873858311), (0, 0.0, 0, 1, 118, 10, 37, 264.604, 28, 0, 0, 0, 7, 2, 0, 0.19009388983964312), (0, 0.0, 0, 1, 361, 52, 28, 264.604, 27, 0, 1, 4, 7, 2, 1, 0.7086439362569573), (0, 0.0, 0, 1, 225, 26, 28, 264.604, 24, 0, 1, 2, 7, 2, 0, 0.426661380252057), (1, 0.0, 0, 0, 369, 17, 31, 264.604, 25, 0, 3, 0, 7, 0, 1, 0.9893498843319493), (1, 0.0, 0, 0, 289, 36, 33, 264.604, 30, 0, 2, 1, 7, 1, 1, 0.9658911274199584), (1, 0.0, 0, 0, 235, 11, 37, 264.604, 29, 1, 1, 1, 7, 1, 1, 0.8698054313741715), (0, 0.0, 0, 0, 118, 14, 40, 271.219, 34, 0, 1, 8, 7, 1, 0, 0.010482234329605282), (0, 0.0, 0, 0, 231, 35, 39, 271.219, 35, 0, 2, 2, 7, 2, 0, 0.0967947934689056), (0, 0.0, 0, 0, 179, 45, 53, 271.219, 25, 0, 1, 1, 7, 4, 0, 0.013579112320213242);

In [73]:
cursor.execute(insert_query)

In [75]:
conn.commit()

In [76]:
cursor.execute("SELECT * FROM AbsenteeismData;")
rows = cursor.fetchall()

# Print each row
for row in rows:
    print(row)

(False, False, False, True, 179, 26, 30, 237.656, 19, 1, 0, 0, 6, 4, 0, 0.10067716376776627)
(True, False, False, False, 361, 52, 28, 237.656, 27, 0, 1, 4, 6, 0, 1, 0.9385485910582264)
(False, False, False, True, 155, 12, 34, 237.656, 25, 0, 2, 0, 6, 2, 0, 0.34357218070345624)
(False, False, False, True, 179, 22, 40, 237.656, 22, 1, 2, 0, 6, 4, 0, 0.21947509191646963)
(True, False, False, False, 155, 12, 34, 237.656, 25, 0, 2, 0, 6, 4, 1, 0.7934337630231165)
(True, False, False, False, 225, 26, 28, 237.656, 24, 0, 1, 2, 6, 0, 1, 0.823725507167305)
(True, False, False, False, 118, 15, 46, 275.089, 25, 0, 2, 0, 6, 2, 1, 0.6825027546094742)
(False, False, False, True, 179, 26, 30, 275.089, 19, 1, 0, 0, 6, 2, 0, 0.10956237723554366)
(False, False, False, True, 118, 10, 37, 275.089, 28, 0, 0, 0, 6, 4, 0, 0.1255855224924092)
(True, False, False, False, 118, 10, 37, 275.089, 28, 0, 0, 0, 6, 2, 1, 0.5664767926691083)
(False, False, False, True, 378, 49, 36, 275.089, 21, 0, 2, 4, 6, 3, 1, 0.6163272097472471)
(False, False, True, False, 118, 13, 50, 275.089, 31, 0, 1, 0, 6, 3, 1, 0.7662378476793834)
(False, False, True, False, 233, 51, 31, 275.089, 21, 1, 1, 8, 6, 4, 1, 0.6311805899617088)
(False, False, False, True, 179, 26, 30, 275.089, 19, 1, 0, 0, 6, 4, 0, 0.09951134303780154)
(False, False, False, False, 235, 29, 48, 275.089, 33, 0, 1, 5, 6, 0, 0, 0.024447369009050177)
(False, False, False, False, 268, 11, 33, 275.089, 25, 1, 0, 0, 6, 3, 0, 0.021128413539946416)
(False, False, True, False, 118, 13, 50, 275.089, 31, 0, 1, 0, 6, 3, 1, 0.7662378476793834)
(True, False, False, False, 179, 26, 30, 275.089, 19, 1, 0, 0, 6, 3, 0, 0.4879195782689421)
(False, False, False, True, 291, 31, 40, 275.089, 25, 0, 1, 1, 6, 3, 0, 0.4442350197382447)
(True, False, False, False, 179, 26, 30, 275.089, 19, 1, 0, 0, 7, 0, 1, 0.6207974487186491)
(False, False, False, True, 118, 10, 37, 275.089, 28, 0, 0, 0, 7, 0, 0, 0.20659415667858533)
(False, False, False, True, 233, 51, 31, 275.089, 21, 1, 1, 8, 7, 3, 0, 0.14695676925679693)
(True, False, False, False, 118, 10, 37, 275.089, 28, 0, 0, 0, 7, 4, 1, 0.6318447378490765)
(True, False, False, False, 118, 10, 37, 275.089, 28, 0, 0, 0, 7, 2, 1, 0.6564662353235496)
(False, False, False, True, 233, 51, 31, 275.089, 21, 1, 1, 8, 7, 2, 0, 0.1538200917408298)
(False, False, False, True, 235, 20, 43, 264.604, 38, 0, 1, 0, 7, 2, 1, 0.6620326463113635)
(False, False, True, False, 233, 51, 31, 264.604, 21, 1, 1, 8, 7, 4, 1, 0.7152468922740102)
(True, False, False, False, 228, 14, 58, 264.604, 22, 0, 2, 1, 7, 0, 1, 0.8414915376809174)
(False, False, False, True, 118, 10, 37, 264.604, 28, 0, 0, 0, 7, 0, 0, 0.20718902244792106)
(True, False, False, False, 228, 14, 58, 264.604, 22, 0, 2, 1, 7, 1, 1, 0.8341935790693638)
(False, False, False, True, 189, 29, 33, 264.604, 25, 0, 2, 2, 7, 1, 0, 0.4555971873858311)
(False, False, False, True, 118, 10, 37, 264.604, 28, 0, 0, 0, 7, 2, 0, 0.19009388983964312)
(False, False, False, True, 361, 52, 28, 264.604, 27, 0, 1, 4, 7, 2, 1, 0.7086439362569573)
(False, False, False, True, 225, 26, 28, 264.604, 24, 0, 1, 2, 7, 2, 0, 0.426661380252057)
(True, False, False, False, 369, 17, 31, 264.604, 25, 0, 3, 0, 7, 0, 1, 0.9893498843319493)
(True, False, False, False, 289, 36, 33, 264.604, 30, 0, 2, 1, 7, 1, 1, 0.9658911274199584)
(True, False, False, False, 235, 11, 37, 264.604, 29, 1, 1, 1, 7, 1, 1, 0.8698054313741715)
(False, False, False, False, 118, 14, 40, 271.219, 34, 0, 1, 8, 7, 1, 0, 0.010482234329605282)
(False, False, False, False, 231, 35, 39, 271.219, 35, 0, 2, 2, 7, 2, 0, 0.0967947934689056)
(False, False, False, False, 179, 45, 53, 271.219, 25, 0, 1, 1, 7, 4, 0, 0.013579112320213242)

In [77]:
conn.close()